@import 'colors.scss';
@import 'https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', sans-serif;
    background-color: $very-dark-blue;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 320px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: $dark-blue;
}

.container{
    padding: .5rem;

    img{
        width: 30px;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: $medium-grey;
    }

    h3{
        margin: .75rem 0;
        font-weight: 700;
        color: $white;
    }

    p{
        font-size: 0.8125rem;
        font-weight: 400;
        color: $light-grey;
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 0;

    input[type=button]{
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 50%;
        background-color: $medium-grey;
        color: $light-grey;
        cursor: pointer;

            &:hover{
                background-color: $light-grey;
                color: $white;
                font-weight: bold;
                scale: 1.1;
                transition: .4s;
            }

            &:focus{
                background-color: $orange;
                color: $white;
                font-weight: bold;
                scale: 1.1;
                transition: .4s;
            }
    }
}

#submit{
    width: 100%;
    padding: .75rem 0;
    border: none;
    border-radius: 1.5rem;
    color: $white;
    font-size: .725rem;
    font-weight: 700;
    letter-spacing: .125rem;
    background-color: $orange;
    cursor: pointer;

        &:hover{
            background-color: $white;
            color: $orange;
        }
}

// Style after submit => Second Container

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    padding: 1rem 1rem 0;

    img{
        width: 125px;
    }
}

.select-text{
    p{
        font-size: .75rem;
        padding: .5rem .75rem;
        border-radius: 1rem;
        background-color: $medium-grey;
        color: $orange;
    }
}

.second-container-text{
    text-align: center;

    h3{
        font-weight: 700;
        color: $white;
    }

    p{
        margin-top: .75rem;
        font-weight: 400;
        font-size: 0.8125rem;
        color: $light-grey;
    }
}


@media(min-width: 769px){
    .content{
        width: 340px;
    }

    .container{
        img{
            width: 35px;
            padding: 0.625rem;
        }

        p{
            font-size: 0.9rem;
        }
    }

    .buttons{
        input[type=button]{
            height: 45px;
            width: 45px;
        }
    }

    .second-container-text{
        p{
            font-size: 0.9rem;
        }
    }
}